{% extends 'djangobb_forum/lofi/base.html' %}
{% load pagination_tags %}
{% load forum_extras %}
{% load i18n %}

{% block mycontent %}
<div id='largetext'>{% trans "Full Version:" %} {% link forum %}</div>
<div class='djangobbnav'>
	<a href="{% url djangobb:lofi_index %}">{% trans "Root" %}</a> &raquo; {% lofi_link forum %}
</div>

{% autopaginate topics forum_settings.FORUM_PAGE_SIZE %}
<div class="djangobbpagespan">
	{% lofi_pagination %}
</div>

  <div id="djangobbcontent">
  <div class="topicwrap">
<ol>
{% for topic in topics %}
<li>{% if topic.sticky %}<span style="color: red;"><strong>{% trans "IMPORTANT:" %}</strong></span>{% endif %}{% lofi_link topic %} <span class="desc">({{ topic.reply_count }} {% trans "replies" %})</span></li>
{% endfor %}
</ol>
</div>
</div>
<div class='smalltext'>This is a "lo-fi" version of our main content. To view the full version with more information, formatting and images, please <a href='{{ forum.get_absolute_url }}'>click here</a>.</div>
</div>
{% endblock %}

