{% extends 'djangobb_forum/lofi/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block mycontent %}
<div id='largetext'>{% trans "Full Version:" %} <a href="{% url djangobb:index %}">{% trans "Root" %}</a></div>
<div class='djangobbnav'>
	<a href="{% url djangobb:lofi_index %}">{% trans "Root" %}</a>
</div>

<div id="djangobbcontent">
  <div class="forumwrap">
<ul>
{% for iter in cats %}
<li><strong>{{ iter.cat }}</strong></li>
<ul>
	{% for forum in iter.forums %}
		<li>{% lofi_link forum %} <span class="desc">({{ forum.post_count }} {% trans "posts" %})</span></li>
	{% endfor %}
</ul>
{% endfor %}
</ul>
</div>
</div>
<div class='smalltext'>This is a "lo-fi" version of our main content. To view the full version with more information, formatting and images, please <a href='{% url djangobb:index %}'>click here</a>.</div>
</div>
{% endblock %}


