{% extends 'djangobb_forum/lofi/base.html' %}
{% load pagination_tags %}
{% load forum_extras %}
{% load i18n %}

{% block mycontent %}
<div id='largetext'>{% trans "Full Version:" %} {% link topic %}</div>
<div class='djangobbnav'>
	<a href="{% url djangobb:lofi_index %}">{% trans "Root" %}</a> &raquo; {% lofi_link topic.forum %} &raquo; {% lofi_link topic %}
</div>

{% autopaginate posts forum_settings.TOPIC_PAGE_SIZE %}
<div class="djangobbpagespan">
	{% lofi_pagination %}
</div>

<div id='djangobbcontent'>
{% for post in posts %}
		<div class='postwrapper'>
			<div class='posttopbar'>
			  <div class='postname'>{{ post.user.username }}</div>
			  <div class='postdate'>{% forum_time post.created %}</div>
		 	</div>
			<div class='postcontent'>
				{{ post.body_html|safe }}
			</div>
		</div>
{% endfor %}
</div>
</div>
<div class='smalltext'>This is a "lo-fi" version of our main content. To view the full version with more information, formatting and images, please <a href='{{ topic.get_absolute_url }}'>click here</a>.</div>
</div>
{% endblock %}

