* {font-family: 'Quicksand', sans-serif;, serif;color:#161616;}
a {color: #333;text-decoration:none;}
a:hover {color: #888;text-decoration:underline;}
#outer {position:absolute; left:0px; top:0px; min-width:99%;}
#title {width:100%;height:60px;text-align:center;font-family: 'Marko One'}
#loginForm {margin-top:5px;width:19%;height:90px;position:absolute;top:0px;right:0px;font-size:10px;text-align:right;}
#loginForm input, select, textarea {font-size:10px;}
.menuitem {display:inline-block;width:100px;}
.article {width: 80%;margin:0 auto; border-bottom:1px solid;padding-bottom: 50px;}
.article img {margin-right: 30px;margin-bottom: 10px;}
.text_articulo {padding-left: 50px;}

/* Calendar */
.datagrid {margin-left:40px;min-width:648px;max-width:1240px;font-size: 20px;}
.datagrid a:hover {text-decoration: none;color:#000;}
.datagrid li {list-style: none;padding-left: 5px;}
.datagrid li .manifestacion {background-color: #b4c8d2;}
.datagrid #tipos ul {display: inline;}
.datagrid #tipos li {display: inline;padding-right: 5px;}
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
.datagrid {background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.datagrid table td, .datagrid table th { padding: 3px 10px; width: 100px;border-left: 1px solid #0070A8;}
.datagrid table tbody th:first-child { border-left: none; }
.datagrid table thead th {font-weight: bold; border-left: 1px solid #0070A8; }
.datagrid table tbody td { color: #00496B; border-left: 1px solid #6391a6;border-bottom: 1px solid #6391a6;border-top: 1px solid #6391a6;font-weight: normal; }
.datagrid table tbody .alt td { background: #6391a6; color: #00496B; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td div { border-top: 1px solid #006699;background: #6391a6;}
.datagrid table tfoot td { padding: 0; }
.datagrid table tfoot td div{ padding: 2px; }
.datagrid table td ul { margin: 0; padding:0; list-style: none; text-align: left; font-size: 15px;}
.manifestacion {background-color: #b4c8d2;}
.datagrid table tfoot li { display: inline; }
.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}