{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block mycontent %}
<div class="linkst">
	<div class="inbox">
		<ul><li><a href="{% url djangobb:index %}">{% trans "Root" %}</a> </li><li>&raquo; {% link post.topic.forum %}</li><li>&raquo; {{ post.topic }}</li></ul>
		<div class="clearer"></div>
	</div>
</div>

<div class="blockform">
	<h2>{% trans "Edit post" %}</h2>

	<div class="box">
		<form method="post">
			{% csrf_token %}
			<div class="inform">
				<fieldset>
					<legend>{% trans "Edit the post and submit changes" %}</legend>
					<div class="infldset txtarea">
						{% if post.id == post.topic.head.id %}
						<label>{% trans "Subject" %}<br />
						{{ form.name }}<br /></label>
						{% endif %}
						<label>{% trans "Message" %}<br />
						{{ form.body }}
						<br /></label>
					</div>
				</fieldset>
			</div>

			<p><input type="submit" value="{% trans "Save" %}" /><a href="javascript:history.go(-1)">{% trans "Go back" %}</a></p>
		</form>
	</div>
</div>
{% endblock %}
