{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block mycontent %}
<div class="blockform">
	<h2><span>{% trans "Report post" %}</span></h2>
	<div class="box">
		<form id="report" method="post">
			{% csrf_token %}
			<div class="inform">
				<fieldset>
					<legend>{% trans "Please enter a short reason why you are reporting this post" %}</legend>
					<div class="infldset txtarea">
						{{ form.post }}
						<label><strong>{% trans "Reason" %}</strong><br />
						{{ form.reason }}
						<br /></label>
					</div>
				</fieldset>
			</div>
			<p><input type="submit" name="submit" value="{% trans "Submit" %}" accesskey="s" /><a href="javascript:history.go(-1)">{% trans "Go back" %}</a></p>
		</form>
	</div>
</div>
{% endblock %}

{% block controls %}
{% endblock %}
