{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block mycontent %}
<div class="blockform">
	<h2><span>{% trans "Please, fill the form" %}</span></h2>
	<div class="box">
		<div class="inbox">
			<form action="{% url djangobb:reputation form.to_user %}" method="post">
			{% csrf_token %}
			<table cellspacing="0">
				{{ form.errors.as_ul }}
				{{ form.post }}
				{{ form.sign }}
				<tbody><tr>
					<td class="tc4" width="30%">{% trans "Your name:" %}</td>
					<td class="tc4" width="70%">{{ form.from_user }}</td>
				</tr>
				<tr>
					<td class="tc4" width="30%">{% trans "To whom we change a reputation:" %}</td>
					<td class="tc4" width="70%">{{ form.to_user }}</td>
				</tr>
				<tr>
					<td class="tc4" width="30%"></td>
					<td class="tc4" width="70%">{{ form.reason }}</td>
				</tr>				
				<tr>
					<td class="tc4" width="30%">{% trans "Method:" %}</td>
					<td class="tc4" width="70%">
						{% if request.GET.action == "plus" %}
						{% trans "Add of a reputation" %}
						{% else %}
						{% trans "Reduction of a reputation" %}
						{% endif %}
					</td>
				</tr>
			</tbody></table>
			<table cellspacing="0">
				<tbody><tr>
					<td class="tc4" style="text-align: center;"><input name="submit" value="{% trans "Submit" %}" type="submit">  <a href="javascript:history.go(-1)">{% trans "Go back" %}</a></td>
				</tr>
			</tbody></table>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block controls %}
{% endblock %}
