{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block mycontent %}
<div id="profile" class="block2col">
	{% include 'djangobb_forum/profile/profile_menu.html' %}
	<div class="blockform">
		<h2><span>{{ profile.username }} - {% trans "Messaging" %}</span></h2>
		<div class="box">
			<form id="profile3" method="post">
				{% csrf_token %}
				<div class="inform">
					<fieldset>
						<legend>{% trans "Personal" %}</legend>
						<div class="infldset">
							{{ form.jabber.errors }}
							<label>{{ form.jabber.label }}<br>{{ form.jabber }}<br></label>
							{{ form.icq.errors }}
							<label>{{ form.icq.label }}<br>{{ form.icq }}<br></label>
							{{ form.msn.errors }}
							<label>{{ form.msn.label }}<br>{{ form.msn }}<br></label>
							{{ form.aim.errors }}
							<label>{{ form.aim.label }}<br>{{ form.aim }}<br></label>
							{{ form.yahoo.errors }}
							<label>{{ form.yahoo.label }}<br>{{ form.yahoo }}<br></label>
						</div>
					</fieldset>
				</div>
				<p><input name="update" value="{% trans "Submit" %}" type="submit">{% trans "When you update your profile, you will be redirected back to this page." %}</p>
			</form>

		</div>
	</div>
	<div class="clearer"></div>
</div>
{% endblock %}

{% block controls %}
{% endblock %}
