{% extends 'base.html' %}
{% load event_tags %}
{% block content %}<br />
{{ events }}

<div id="calendar" class="datagrid">
    <div id="mesanterior"></div>
      <ul id="tipos">
      <li>Mostrar:</li>
      {% for tipo in tipos %}
    	<li class="{{tipo.slug}}">{{ tipo }}</li>
    {% endfor %}
    </ul>
    <div id="messiguiente"></div>
    {% event_calendar year month eventos %}
</div>
{% endblock content %}
