{% extends 'base.html' %}
{% block content %}
<div id="content">
    <div id="pre" style="height:50px;"></div>
<div id="presentacion" style="border:1px solid;width:1000px;height:288px;margin: 0 auto;background-image:url('/static/img/ensayo01.jpg')"></div>
<div id="articulos">
{% for article in articles %}
<div class="article">
  <h3>{{ article.title }}</h3>
  {% if article.image %}<img src="{{ article.image }}" alt="foto" align="left">{% endif %}
  <div class="texto_articulo" align="justify">
  {{ article.description }}
  </div>
</div>
{% endfor %}
</div>
</div>
{% endblock content%}
