<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
  <link href="/static/img/favicon.png" rel="shortcut icon" type="image/png">
  <link href='http://fonts.googleapis.com/css?family=Marko+One' rel='stylesheet' type='text/css'>
  <link href="/static/ddmenu/ddmenu.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <script src="/static/ddmenu/ddmenu.js" type="text/javascript"></script>
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <title>Coro y Orquesta Solfonica del 15M</title>
  {% block extrahead %}{% endblock extrahead %}
</head>
<body>

<div id="outer">
        {% if user.is_authenticated %}
  <div id="header">
    <div id="title"><h1>Coro y Orquesta Solfónica del 15M</h1></div>
      <div id="loginForm">
        {% if user.is_authenticated %}
        <a href="{% url salir %}">Salir</a>
        {% else %}
        <form action="{% url entrar %}" method="post" accept-charset="utf-8">{% csrf_token %}
            <label for="username">Usuario</label><input type="text" name="username" value="" id="username" /><br />
            <label for="password">Contraseña</label><input type="password" name="password" value="" id="password" /><br />
        <input type="submit" value="Entrar">
        </form>
        {% endif %}
      </div>
<nav id="ddmenu">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/fotos/gallery/page/1/">Fotos</a></li>
        <li><a href="{% url calendar %}">Calendario</a></li>
        <li><a href="/noticias/">Noticias</a></li>
        <li><a href="/contacto/">Contacto</a></li><br />
        {% if user.is_authenticated %}
        <li><a href="/archivos/">Archivos</a></li>
        <li><a href="/mensajes/">Mensajes</a></li>
        <li><a href="/forum/">Foros</a></li>
        <li><a href="/users/">Miembros</a></li>
        <li><a href="/actas/">Actas</a></li>
        {% endif %}
    </ul>
</nav>
</div>
  <div id="contentwithads">
  {% if user.is_authenticated %}
  <div id="ads" style="width:160px;height:600px;border:1px solid;float:right;margin-left:20px;margin-bottom:10px;"></div>
  {% endif %}
{% block content %}{% endblock content %}
 </div>
{% block sidebar %}{% endblock sidebar %}
<div id="footer">
</div>
        {% else %}
        <div style="margin:0 auto;margin-top: 50px;background-image: url('/static/img/under_construction2.jpg');width:800px;height:800px;background-repeat:no-repeat;">

        </div>
        <form action="{% url entrar %}" method="post" accept-charset="utf-8">{% csrf_token %}
            <label for="username">Usuario</label><input type="text" name="username" value="" id="username" /><br />
            <label for="password">Contraseña</label><input type="password" name="password" value="" id="password" /><br />
        <input type="submit" value="Entrar">
        </form>
        {% endif %}
</div>
</body>
</html>
