{% extends "forum_base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with forum.title as title %}New Thread in {{ title }}{% endblocktrans %}{% endblock %}

{% block extrahead %}
	<link rel="alternate" type="application/rss+xml" title="{% blocktrans with forum.title as title %}{{ title }} Posts via RSS{% endblocktrans %}" href="{% url forum_index %}rss/{{ forum.slug }}/">
	<link rel="alternate" type="application/atom+xml" title="{% blocktrans with forum.title as title %}{{ title }} Posts via ATOM{% endblocktrans %}" href="{% url forum_index %}atom/{{ forum.slug }}/">
{% endblock %}

{% block pagetitle %}{% blocktrans with forum.title as title %}New Thread in {{ title }}{% endblocktrans %}{% endblock %}

{% block breadcrumbs %}
	{% for title, url in forum.get_url_name %}
		&raquo; <a href="{{ url }}">{{ title }}</a>
	{% endfor %}
	&raquo; {% trans "New Thread" %}
{% endblock %}


{% block content %}
	<h2>{% trans "Create a Thread" %}</h2>
	
    <form method="post" action=".">{% csrf_token %}
		{% if form.errors %}
		<ul>{{ form.errors.as_ul }}</ul>
		{% endif %}
	
		<p>
			<label>{% trans "Posting As" %}</label>
			<span>{{ user.username }}</span>
		</p>
		{{ form.as_p }}
		
		<p><input type="submit" value="{% trans "Post" %}"></p>
	</form>
{% endblock %}
