{% extends "forum_base.html" %}
{% load i18n %}

{% block content %}
	<h2>{% trans "Edit post" %}</h2>
	
    <form method="post" action=".">{% csrf_token %}
		{% if form.errors %}
		<ul>{{ form.errors.as_ul }}</ul>
		{% endif %}
	
		<p><label>{% trans "Posting As" %}</label><span>{{ user.username }}</span></p>
		{{ form.as_p }}
		<p><input type="submit" value="{% trans "Post" %}"></p>
	</form>
{% endblock %}
